<!DOCTYPE html>
<html>
  <head>
    <title>문의페이지</title>
    <link rel="stylesheet" type="text/css" href="insert.css" />
  </head>
  <body>
    <div class="header">
      <h1 style="text-align: center;">문의하기</h1>
    </div>
    <section>
      <form class="insert" method="post">
        <div class="formContent">
          <label for="title">번호뒷자리</label>
          <input type="text" id="번호뒷자리" name="번호뒷자리" required />
          <br />
          <label for="title">제목</label>
          <input type="text" id="제목" name="제목" required />
          <br />
          <label for="title">비밀번호</label>
          <input type="password" id="비밀번호" name="비밀번호" required />
          <br />
          <label for="title">문의내용</label>
          <input class = "inquire" type="text" id="문의내용" name="문의내용" required />
          <br />
        </div>
        <input type="submit" class="insertBtn" value="완료" />
      </form>
    </section>
  </body>
</html>
